<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../include/header %>
</head>

<body>
    <% include ../include/navBarUser %>
        <% include ../include/bodyCover %>
            <!--
            <nav class="navbar navbar-expand-sm bg-light">
                <ul class="">
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/manage-member">Quản lí Thành viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/manage-vendor">Quản lí Nhà cung cấp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/manage-cashier">Quản lí Thu ngân</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/manage-cook">Quản lí Đầu bếp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/manage-screen">Quản lí Touch screen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/manager/report">Thống kê</a>
                    </li>
                </ul>
            </nav>
            -->
</body>

</html>