<!DOCTYPE html>
<html>

<head>
    <title>
        Giới thiệu
    </title>
    <% include ./include/header %>
</head>

<body>
    <% include ./include/navBarUser %>

    <div class="bg-light">
        <div class="container py-5">
          <div class="row h-100 align-items-center py-5">
            <div class="col-lg-6">
              <h1 class="display-4">Giới thiệu chung</h1>
              <p class="lead text-muted mb-0">Hệ thống food court hiện đại được xây dựng trên khuôn viên Trường Đại học Bách Khoa hứa hẹn đem lại một trải nghiệm ăn uống thú vị dành cho các sinh viên và giảng viên.</p>
              </p>
            </div>
            <div class="col-lg-6 d-none d-lg-block"><img src="/images/food-illutration-0.png" alt="" class="img-fluid"></div>
          </div>
        </div>
      </div>
      
      <div class="bg-white py-5">
        <div class="container py-5">
          <div class="row align-items-center mb-5">
            <div class="col-lg-6 order-2 order-lg-1"><i class="fa fa-bar-chart fa-2x mb-3 text-primary"></i>
              <h2 class="font-weight-light">An toàn</h2>
              <p class="font-italic text-muted mb-4">Nguyên liệu nhập, kĩ thuật chế biến đều được kiểm tra và đảm bảo 100% vệ sinh an toàn thực phẩm.</p>
              <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
            </div>
            <div class="col-lg-5 px-5 mx-auto order-1 order-lg-2"><img src="/images/food-illutration-1.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
          </div>
          <div class="row align-items-center">
            <div class="col-lg-5 px-5 mx-auto"><img src="/images/food-illutration-2.jpg" alt="" class="img-fluid mb-4 mb-lg-0"></div>
            <div class="col-lg-6">
              <!-- <i class="fa fa-leaf fa-2x mb-3 text-primary"></i> -->
              <h2 class="font-weight-light">Tiện lợi</h2>
              <p class="font-italic text-muted mb-4">Cho phép người dùng tương tác với các gian hàng, order món ăn một cách đơn giản, nhanh chóng.</p>
              <!-- <a href="#" class="btn btn-light px-5 rounded-pill shadow-sm">Learn More</a> -->
            </div>
          </div>
        </div>
      </div>
      
      <div class="bg-light py-5">
        <div class="container py-5">
          <div class="row mb-4">
            <div class="col-lg-5">
              <h2 class="display-4 font-weight-light">Các thành viên thực hiện</h2>
              <p class="font-italic text-muted"></p>
            </div>
          </div>
      
          <div class="row text-center">
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/avatar-1.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Đoàn Sinh Mãn</h5><span class="small text-muted">Trưởng nhóm</span>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/avatar-2.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Lê Hữu Võ Long</h5><span class="small text-muted">Thành viên</span>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/avatar-3.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Trương Hải Long</h5><span class="small text-muted">Thành viên</span>
              </div>
            </div>
            <!-- End-->
      
            <!-- Team item-->
            <div class="col-xl-3 col-sm-6 mb-5">
              <div class="bg-white rounded shadow-sm py-5 px-4"><img src="/images/avatar-4.jpg" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                <h5 class="mb-0">Nguyễn Luân</h5><span class="small text-muted">Thành viên</span>
              </div>
            </div>
            <!-- End-->
      
          </div>
        </div>
      </div>
      
</body>

</html>