<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ./include/header %>
</head>

<body>
    <% include ./include/navBarUser %>
        <% include ./include/bodyCover %>
</body>

</html>