<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../include/header %>
</head>

<body class="text-center">
    <h3>Hãy chọn một hình thức thanh toán</h3>
    <div class="row">
        <div class="col-sm-6 text-center btn" onclick="payWithMomo();">
            <img class="payment-img" src="/images/momo.jpg">
            <h4>Ví momo</h4>
        </div>
        <div class="col-sm-6 text-center btn" onclick="payWithSpotCash();">
            <img class="payment-img" src="/images/vnd.jpg">
            <h4>Tiền mặt</h4>
        </div>
    </div>
    <div id="alert"></div>
</body>

<script>
    function getCart() {
        let cartString = localStorage.getItem("cart");
        let cart = {};
        try {
            cart = JSON.parse(cartString);
        } catch (e) {
            //alert('catch 1 err');
            cart = {};
        }
        return cart;
    }

    function payWithMomo() {

    }

    function payWithSpotCash() {
        let cart = getCart();
        let empty = true;
        for (key in cart) {
            cart[key] = cart[key].count;
            empty = false;
        }
        $("#alert").empty();
        if (empty) {
            $("#alert").append('<div class="alert alert-danger alert-dismissible">\
                            <button type="button" class="close" data-dismiss="alert">&times;</button>\
                            <strong>Giỏ hàng rỗng.</strong>\
                            </div>');
        } else {
            $.post("/order/spot-cash", {
                    cart: JSON.stringify(cart)
                },
                function(ret, status) {
                    //console.log(arr);
                    if (!(status == 'success')) {
                        $("#alert").append('<div class="alert alert-danger alert-dismissible">\
                            <button type="button" class="close" data-dismiss="alert">&times;</button>\
                            <strong>Thanh toán thất bại.</strong>\
                            </div>');
                    } else if (ret.success == false) {
                        $("#alert").append('<div class="alert alert-danger alert-dismissible">\
                            <button type="button" class="close" data-dismiss="alert">&times;</button>\
                            <strong>Các món có ID ' + ret.unavailable.toString().replace(/,/g, ", ") + ' không có sẵn.</strong>\
                            </div>');
                    } else {
                        localStorage.removeItem('cart');
                        $("#alert").append('<div class="alert alert-success alert-dismissible">\
                            <button type="button" class="close" data-dismiss="alert">&times;</button>\
                            <strong>[' + ret.id + ']Bạn hãy gặp thu ngân để thanh toán.</strong>\
                            </div>');
                    }
                });
        }
    }
</script>

</html>