<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../include/header %>
</head>

<body class="text-center status">
    <h1>Trạng thái đơn hàng</h1>
    <h6>Làm mới sau: <span id='time'>30</span>s</h6>
    <div class="row" id="orderList">
    </div>
</body>

<script>
    function getOrderStatus() {
        $.post("/order/status", {},
            function(orderArr, status) {
                let orderList = $('#orderList');
                orderArr.forEach((order) => {
                    if (order.ready) {
                        orderList.append('<div class="col-sm-6 col-md-3 order-ready"><div class="bg-white rounded shadow-sm py-3">ID: ' + order.id + ' - Sẵn sàng</div></div>');
                    } else {
                        orderList.append('<div class="col-sm-6 col-md-3 order-pending"><div class="bg-white rounded shadow-sm py-3">ID: ' + order.id + ' - Đang chờ</div></div>');
                    }
                });
            });
    }

    function countDown() {
        let time = $('#time');
        time.text(time.text() - 1);
        if (time.text() == 0) {
            $('#orderList').empty();
            getOrderStatus();
            time.text(30);
        }
    }
    getOrderStatus();
    setInterval(countDown, 1000);
</script>

</html>