<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../include/header %>
    <link rel='stylesheet' href='/stylesheets/sidenav.css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/javascripts/manager_script.js"></script>
    <script>
        $(document).ready(function() {
            let navLock = $('#nav-lock');
            let navReal = $('#nav-real');
            let imgLock = $('#img-lock');
            let imgReal = $('#img-real');
            navReal.hide();
            imgReal.click(function() {
                $(document.getElementsByClassName('sidenav')).css('padding-top', '30pt');
            });
            imgLock.click(function() {
                $(document.getElementsByClassName('sidenav')).css('padding-top', '50pt');
            });
        });
    </script>
</head>

<body>
    <% include ../include/navBarUser %>
        
    <div class="sidenav">
        <a class="nav-link" href="/manager/manage-member">Quản lí Thành viên</a>
        <a class="nav-link" href="/manager/manage-vendor">Quản lí Nhà cung cấp</a>
        <a class="nav-link" href="/manager/manage-cashier">Quản lí Thu ngân</a>
        <a class="nav-link" href="/manager/manage-cook">Quản lí Đầu bếp</a>
        <a class="nav-link" href="/manager/manage-screen">Quản lí Touch screen</a>
        <a class="nav-link" href="/manager/report">Thống kê</a>
    </div>
    <div class="content hero-image">
        <% if (plt == 'member') { %>
            <% include ./inner_view/member_view %> 
        <% } %>
        <% if (plt == 'vendor') { %>
            <% include ./inner_view/vendor_view %> 
        <% } %>
        <% if (plt == 'cashier') { %>
            <% include ./inner_view/cashier_view %> 
        <% } %>
        <% if (plt == 'cook') { %>
            <% include ./inner_view/cook_view %> 
        <% } %>
        <% if (plt == 'screen') { %>
            <% include ./inner_view/screen_view %> 
        <% } %>
    </div>
            
</body>

</html>