<div style='width: 100%; height: 100px;'></div>
<div class='table-container'> 
    <table id='user-table'>
            <thead>
                <tr>
                    <th>Mã số</th>
                    <th>Tên đầy đủ</th>
                    <th>Giới tính</th>
                    <th>Sinh nhật</th>
                    <th>Email</th>
                    <th>SĐT</th>
                    <th>Tên đăng nhập</th>
                    <th>Hành động</th>
                </tr>  
            </thead>        
    </table>
    <script>queryMember();</script>
</div>