<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../include/header %>
</head>

<body>
    <% include ../include/navBarUser %>
        <% include ../include/bodyCover %>
            <nav class="navbar navbar-expand-sm bg-light">
                <ul class="">
                    <li class="nav-item">
                        <a class="nav-link" href="/cashier/order">Kiểm tra/Xác nhận đơn hàng</a>
                    </li>
                </ul>
            </nav>
</body>

</html>