<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../include/header %>
</head>

<body class="text-center">
    <form class="form-inline" action="javascript:void()" name="findOrder" onsubmit="return findId();">
        <input type="number" class="form-control col-10" placeholder="Nhập ID đơn hàng" id="orderId" required>
        <button type="submit" class="btn btn-primary col-2">Tìm kiếm</button>
    </form>
    <div id="orderTable" style="display: none;">
        <table class="table table-hover">
            <h6 id="orderDate"></h6>
            <h5 id="orderPaid"></h5>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Đơn giá</th>
                    <th>Số lượng</th>
                    <th>Thành tiền</th>
                </tr>
            </thead>
            <tbody id="foodList">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr class="table-primary">
                    <td>Tổng cộng</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-primary" id="confirmBtn">Xác nhận</button>
    </div>
    <div id="alert"></div>
</body>
<script>
    function findId() {
        if (document.findOrder.orderId.value < 0) {
            alert("ID phải là một số dương");
            return false;
        }

        $.post("/cashier/order", {
                id: document.findOrder.orderId.value
            },
            function(data, status) {
                console.log(data + ' ' + status)
                if (status != 'success' || !(data && data.cart && (data.paid != null) && data.date)) {
                    $('#alert').html('<div class="alert alert-danger alert-dismissible">\
                            <button type="button" class="close" data-dismiss="alert">&times;</button>\
                            <strong>Không tìm thấy kết quả</strong>\
                            </div>');
                    $('#orderTable').hide();
                    $('#alert').show();
                } else {
                    let cart = data.cart;
                    let date = new Date(data.date);
                    $("#orderDate").text('Thời gian đặt món: ' + date.toLocaleString());
                    $("#orderPaid").text(data.paid ? '✔️ Đã thanh toán' : '❌ Chưa thanh toán');
                    let foodList = $("#foodList");
                    foodList.empty();
                    let amount = 0;
                    let empty = true;
                    for (let key in cart)
                        if (cart[key].count > 0) {
                            empty = false;
                            amount += cart[key].price * cart[key].count;
                            foodList.append('<tr>\
                            <td>' + key + '</td>\
                            <td>' + cart[key].name + '</td>\
                            <td>' + cart[key].price + '</td>\
                            <td>' + cart[key].count + '</td>\
                            <td>' + cart[key].price * cart[key].count + '</td>\
                        </tr>');
                        }
                    if (empty) {
                        foodList.append('<tr class="table-warning"><td>Giỏ hàng rỗng</td><td></td><td></td><td></td><td></td></tr>');
                    } else {
                        foodList.append('<tr class="table-primary">\
                                <td></td>\
                                <td></td>\
                                <td></td>\
                                <td><strong>Tổng cộng</strong></td>\
                                <td><strong>' + amount + '</strong></td>\
                            </tr>');
                    }

                    if (!data.paid) {
                        $('#confirmBtn').attr('disabled', false).attr('onclick', 'confirmOrder(' + document.findOrder.orderId.value + ');')
                    } else {
                        $('#confirmBtn').attr('disabled', true);
                    }
                    $('#orderTable').show();
                    $('#alert').hide();
                }
            });
        return true;
    }

    function confirmOrder(id) {
        if (confirm("Xác nhận đơn hàng có ID là " + id + "?")) {
            $.post("/cashier/confirm", {
                    id: document.findOrder.orderId.value
                },
                function(data, status) {
                    if (status == 'success' && data == true) {
                        $('#alert').html('<div class="alert alert-success alert-dismissible">\
                            <button type="button" class="close" data-dismiss="alert">&times;</button>\
                            <strong>Xác nhận thành công.</strong>\
                            </div>');
                        $('#alert').show();
                    } else {
                        $('#alert').html('<div class="alert alert-danger alert-dismissible">\
                            <button type="button" class="close" data-dismiss="alert">&times;</button>\
                            <strong>Xác nhận thất bại.</strong>\
                            </div>');
                        $('#alert').show();
                    }
                }

            );
        }
    }
</script>

</html>